In [1]:
import os
import pandas as pd

import mysql.connector

from dotenv import load_dotenv
load_dotenv()

True

In [2]:
MYSQL_PASS = os.getenv("MYSQL_PASS")

#### 1- Creo la base de datos:

In [3]:
# Función para crear una base de datos:

def create_database(database, host = "localhost", user = "root", password = MYSQL_PASS):
    
    db = mysql.connector.connect(host     = host,
                                 user     = user,
                                 password = password)

    cursor = db.cursor()
    
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database};")
    
    cursor.close()
    db.close()

In [4]:
database= "clientes_banco"
create_database(database, host = "localhost", user = "root", password = MYSQL_PASS)

#### 2- Creo la tabla:

In [22]:
data_path = "Final_Dataset/"
data = pd.read_csv(data_path + "test.csv", sep=";")

In [19]:
# Función para crear tabla:

def execute_query(query, database, host = "localhost", user = "root", password = MYSQL_PASS):
    
    db = mysql.connector.connect(host     = host,
                                 user     = user,
                                 password = password,
                                 database = database)

    cursor = db.cursor()
    cursor.execute(query)
    
    # Si son muchas query a veces no deja, de ser el caso:
    #cursor.execute(query, multi= True)

    cursor.fetchall() # Vaciamos el cursor
    cursor.close()
    db.close()

# Tabla modulos:
query_clientes = """
    CREATE TABLE clientes (
    ID INT,
    edad INT,
    trabajo VARCHAR(255),
    estado_civil VARCHAR(255),
    educacion VARCHAR(255),
    deuda VARCHAR(255),
    saldo INT,
    vivienda VARCHAR(255),
    prestamo VARCHAR(255),
    tipo_contacto VARCHAR(255),
    duracion INT,
    fecha_contacto VARCHAR(255),
    campaign INT,
    tiempo_transcurrido INT,
    contactos_anteriores INT,
    resultado_campanas_anteriores VARCHAR(255),
    PRIMARY KEY (ID)
    );
"""

execute_query(query_clientes, database, host = "localhost", user = "root", password = MYSQL_PASS)

#### 3- Lleno la tabla:

In [20]:
user = "root"
password = MYSQL_PASS

# Crear la conexión
engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

# Abrir una conección
connection = engine.connect()

# Cerrar la conección
connection.close()

data.to_sql(name = "clientes", con = engine, if_exists = "append", index = False)

4441

#### 4- Pruebo una consulta:

In [15]:
# Consulta SQL
query = '''
SELECT *
FROM clientes
'''

def consulta(query, MYSQL_PASS):
    config = {'user': 'root',
              'password': MYSQL_PASS,
              'host': 'localhost',
              'database': 'clientes_banco',
              'raise_on_warnings': True
             }
    # Conexion a base de datos:
    conn = mysql.connector.connect(**config)
    
    # Resultados consulta:
    df_resultados = pd.read_sql(query, conn)
    
    # Cierro conexión
    conn.close()
    
    return df_resultados

In [17]:
consulta(query, MYSQL_PASS)

C:\Users\regue\AppData\Local\Temp\ipykernel_10360\3084994553.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_resultados = pd.read_sql(query, conn)

,ID,edad,trabajo,estado_civil,educacion,deuda,saldo,vivienda,prestamo,tipo_contacto,duracion,fecha_contacto,campaign,tiempo_transcurrido,contactos_anteriores,resultado_campanas_anteriores
0,50001,51,entrepreneur,casado,secundaria/superiores,si,-2082,no,si,movil,123,28-jul-2021,6,-1,0,None
1,50002,50,management,casado,universitarios,no,2881,no,no,movil,510,5-aug-2021,2,2,5,otro
2,50003,50,technician,casado,secundaria/superiores,no,1412,no,no,movil,131,6-aug-2021,3,-1,0,None
3,50004,37,management,casado,universitarios,no,0,si,no,None,247,3-jun-2021,13,-1,0,None
4,50005,31,admin.,soltero,secundaria/superiores,no,757,no,no,movil,343,3-feb-2021,2,-1,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4436,54437,34,technician,soltero,universitarios,no,992,si,no,movil,301,4-may-2021,1,88,2,exito
4437,54438,37,technician,casado,secundaria/superiores,si,0,no,no,None,236,18-jun-2021,1,-1,0,None
4438,54439,34,technician,soltero,secundaria/superiores,no,943,no,no,movil,96,29-aug-2021,4,-1,0,None
4439,54440,51,technician,casado,universitarios,no,1315,no,no,fijo,303,5-jun-2021,2,-1,0,None
4440,54441,28,blue-collar,soltero,priamria,no,0,si,si,None,380,3-jun-2021,4,-1,0,None